#googleMap {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  height:33%;
  width:auto;
}

.card{
  padding-top:0.1rem;
  padding-left:1rem;
  padding-right:1rem;
  padding-bottom:1rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  height:33%;
  width:auto;
}

.card > .card{
	padding:0rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 0.5rem 0.5rem;
  margin-bottom:0rem;
  border-radius:3px;
  height:auto;
  width:auto;   
}
